<h3>EJEMPLOS ngSwitch</h3>

<b>Simple ngSwitch</b>
<ul [ngSwitch]="user">
  <li *ngSwitchCase="'Ramesh'">Hi Ramesh</li>
  <li *ngSwitchCase="'Tony'">Hi Tony</li>
  <li *ngSwitchCase="'Tom'">Hi Tom</li>
  <li *ngSwitchDefault>No user found</li>
</ul>

<br><br>

<b>ngSwitch and ngSwitchCase -- ejemplo numeros pares e impares</b>
<div *ngFor="let numero of numbers">
  <!-- <div ngSwitch="{{numero%2}}> ASI NO FUNCIONA-->
  <div [ngSwitch]="numero%2">
    <div *ngSwitchCase="0">{{numero}} - PAR</div>
    <div *ngSwitchCase="1">{{numero}} - IMPAR</div>
    <div *ngSwitchDefault>Nothing Found</div>
  </div>
</div>

<br><br>

<b> ngSwitch and ngSwitchCase -enum example</b>
<!-- <div [ngSwitch]="day"> OTRA MANERA DE PONERLO ; FUNCIONA DE AMBAS MANERAS-->
<div ngSwitch="{{day}}">
  <b *ngSwitchCase="'SUNDAY'"> SUNDAY</b>
  <b *ngSwitchCase="'MONDAY'"> MONDAY</b>
  <b *ngSwitchCase="'TUESDAY'">TUESDAY</b>
  <b *ngSwitchCase="'WEDNESDAY'">WEDNESDAY</b>
  <b *ngSwitchCase="'THURSDAY'">THURSDAY</b>
  <b *ngSwitchCase="'FRIDAY'">FRIDAY</b>
  <b *ngSwitchCase="'SATURDAY'">SATURDAY</b>
  <b *ngSwitchDefault>No Days</b>
</div>

